@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
  
    function showImage(){
        document.getElementById('loadingImage').style.visibility = 'visible';

        
    }

</script>





<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr/>
    <div class="container" style=" margin-top:30px">
        <div style="text-align: left;">
            <h3>Probleemstelling</h3>

            Het bedrijf HardwareWizard verkoopt ICT-producten die het bedrijf samenstelt uit onderdelen die het van externe leveranciers betrekt.
            De naam en prijs van elk product, dat een uniek productnummer heeft, worden opgeslagen, evenals alle onderdelen waaruit het product moet worden opgebouwd. Onderdelen hebben een unieke code,
            en een korte beschrijving voor de duidelijkheid. Per onderdeel worden de leveranciers vastgelegd die het kunnen leveren. Daarnaast wordt per onderdeel ook het aantal vastgelegd dat van dit onderdeel in een product
            verwerkt wordt. Alle producten bestaan uit onderdelen, en er kunnen onderdelen geregisteerd zijn die op dit moment niet in een product verwerkt worden. Van elk onderdeel moet minstens een leverancier bekend zijn,
            en er kunnen leveranciers geregisteerd staan die geen onderdeel meer leveren.
            <br />
            <br />
            Hierbij wil 247Tailorsteel een website ontwikkelen waar wij een overzicht van alle producten kunnen zien. In een detail overzicht van een product moet duidelijk worden uit welke onderdelen het product bestaat en algemene informatie worden weergegeven.
            <br />
            <br />
            Er moeten ook nieuwe onderdelen toegevoegd kunnen worden en nieuwe producten gemaakt kunnen worden bestaande uit een aantal onderdelen. Het moet ook mogelijk zijn om producten/onderdelen te verwijderen.
        </div>
    </div>
</div>
